.btn-primary {
  background-color: #f3322c;
  &:hover, &:focus {
    background-color: #f3322c!important;
    box-shadow: 0 0 0 0.2rem #f3322c;
  }
}

.filters {
  margin-bottom: 2rem;
}

.container-lg {
  padding-top: var(--bs-gutter-x);
}